body {
background-color: white;
/*font-family: 'Droid Sans', sans-serif;*/
font-family: 'Open Sans', sans-serif;
text-align: center;
}

h1 {
/*font-family: 'Rosario', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
font-family: 'Fanwood Text', serif;
font-size: 32px;
font-style: bold;
color: #4A4344;
}
#navbar {
	/*font-family: 'Droid Sans', sans-serif;*/
	/*font-family: 'Fanwood Text', serif;*/
	font-size: 12px;
}
#navbar a {
	padding-left: 6px;
	padding-right: 6px;
	/*color: #993333;*/
	color: #4E8975;
}
a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #990033;
}

#slogan {
	/*font-family: 'Rosario', sans-serif;*/
	/*font-family: 'Droid Sans', sans-serif;*/
	font-family: 'Fanwood Text', serif;
	font-size: 20px;
}
p, ul {
	font-size: 13px;
}
#contact {
	text-align: center;
}
#contact a {
	color: #4E8975;
}
.center {
    width:200px;
    margin:0 auto;
    text-align:left;
}
