body {
background-color: white;
font-family: 'Verdana', sans-serif;
text-align: center;
}

h1 {
font-family: 'Numans', sans-serif;
font-size: 26px;
}
#navbar {
	font-size: 14px;
}
a {
	color: orange;
	text-decoration: none;
}

a:hover {
	color: gray;
}
#slogan {
	font-style: italic;
	font-size: 16px;
}
p, ul {
	font-size: 12px;
}
#contact {
	text-align: center;
}
.center {
    width:200px;
    margin:0 auto;
    text-align:left;
}
